body{
    width: 300px;
    height: fit-content;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top:2px;
    padding-bottom:5px
}

#resultElement{
    text-align: center;
    font-size: 14px;
}